= links_to(Telasi::MOH_CUST_PATH)
%h1= @title
= form_tag do
	.field
		.label= label_tag :from, 'საწყისი თარიღი (ddmmyyyy)'
		.value= text_field_tag :from, params[:from]
	.field
		.label= label_tag :to, 'საბოლოო თარიღი (ddmmyyyy)'
		.value= text_field_tag :to, params[:to]
	.field
		.label= label_tag :accnumb, 'აბონენტის ნომერი'
		.value= text_field_tag :accnumb, params[:accnumb]
	.actions
		= submit_tag 'ინფორმაციის გამოტანა'

.page_actions
	= link_to 'XML ფორმათში', moh_cust_url(:format => :xml, :from => params[:from], :to => params[:to], :accnumb => params[:accnumb]), :method => :post

.results
	- if request.post?
		%table.common.margin_top
			- if @err_code != 0
				%tr
					%th შეცდომის კოდი
					%td= @err_code
				%tr
					%th შეცდომის აღწერა
					%td= @err_msg
			- else
				%tr
					%th აბონენტი
					%td= @customer.accnumb_ka
				%tr
					%th აბონენტი
					%td= @customer.custname_ka
				%tr
					%th საწყისი თარიღი
					%td= @from.strftime('%d/%m/%Y')
				%tr
					%th საბოლოო თარიღი
					%td= @to.strftime('%d/%m/%Y')
				%tr
					%th გადახდა
					%td= number_with_precision(@payment, :precision => 2)
				%tr
					%th შეღავათი
					%td= number_with_precision(@subsidy, :precision => 2)

.doc
	%h1 დოკუემენტაცია
	%h2 აღნიშვნები
	%p ქვემოთ გამოყენებულია შემდეგი აღნიშვნები:
	%ul
		%li <code>BASE_URL</code> &mdash; სერვერის მისამართი (მაგ. <code>1.1.1.22</code>)
	%h2 პროტოკოლი
	%p
		საკომუნიკაციოდ ჩვენ ვიყენებთ <code>HTTP</code> პროტოკოლს,
		<code>REST</code> ვებ-სერვისების ფორმატით.
	%p
		ყველა მოთხოვნა, რომელიც მოხდება თქვენი მხრიდან,
		სხვა პარამეტრებთან ერთად, საჭიროებს შემდეგი არგუმენტების განსაზღვრას:
	%ul
		%li <code>auth_email</code> თქვენი საავტორიზაციო ელექტრონული ფოსტის მისამართი (მოგაწვდით ადმინისტრატორი),
		%li <code>auth_password</code> თქვენი საავტორიზაციო პაროლი (მოგაწვდით ადმინისტრატორი),
	%p
		ქვემოთ სიმოკლისთვის ამ პარამეტრებს არ მიუთითებთ. თუმცა ეს
		აუცილებელი პარამეტრებია!!
	%h2 აბონენტის შესახებ ინფორმაციის მიღება
	%p
		აბონენტზე ინფორმაციის მისაღებად, მიმართეთ <code>POST</code> მოთხოვნით შემდეგ მისამართს:
		<code>http://${BASE_URL}/moh/cust.xml</code>.
		მაგალითად: <code>http://1.1.1.22/moh/cust.xml</code>.
		მოთხოვნის დროს უნდა გადმოცემულ იქნას შემდეგი პარამეტრები:
	%ul
		%li <code>from</code> ინტერვალის საწყისი თარიღი (აუცილებელია)
		%li <code>to</code> ინტერვალის საბოლოო თარიღი (აუცილებელია)
		%li <code>accnumb</code> აბონენტის ნომერი (აუცილებელია)
	%p
		<strong>შენიშვნა</strong>:
		თარიღის ფორმატად ამ სერვისის მიზნებისთვის გამოიყენება <code>DDMMYYYY</code>
		ფორმატი.
	%h2 შედეგის ფორმატი
	%p
		შედეგი XML ფორმატით ბრუნდება.
	%p
		შეცდომის შემთხვევაში დაბრუნდება შემდეგი სახის დოკუმენტი:
	%pre
		:escaped
			<error>
				<code>1</code>
				<message>interval start date not defined</message>
			</error>
	%p
		შეცდომის კოდი, <code>code</code> შესაძლოა ღებულობდეს შემდეგ მნიშვნელობებს:
	%ul
		%li <code>1</code> &mdash; თარიღების ინტერვალის საწყისი მნიშვნელობა არაა მოცემული ან არასწორ ფორმატშია
		%li <code>2</code> &mdash; თარიღების ინტერვალის საბოლოო მნიშვნელობა არაა მოცემული ან არასწორ ფორმატშია
		%li <code>3</code> &mdash; აბონენტი ვერ მოიძებნა
	%p
		თუ ყველაფერი სწორად წარიმართა, მაშინ დაგიბრუნდებათ შემდეგი სახის
		დოკუმენტი:
	%pre
		:escaped
			<customer-information>
				<accnumb>1234567</accnumb>
				<custname>test customer</custname>
				<from-date>01012010</from-date>
				<to-date>01032012</to-date>
				<payment>100.00</payment>
				<subsidy>20.00</subsidy>
			</customer-information>