- if @err_code != 0
	%error
		%code= @err_code
		%message= @err_msg
- else
	%customer-information
		%accnumb= @customer.accnumb_ka
		%custname= @customer.custname_ka
		%from-date= @from.strftime('%d%m%Y')
		%to-date= @to.strftime('%d%m%Y')
		%payment= number_with_precision(@payment, :precision => 2)
		%subsidy= number_with_precision(@subsidy, :precision => 2)