%customer
	%id= cust.id
	%number= cust.customer.accnumb_ka
	%balance= cust.customer.balance
	%trash_balance= cust.trash_customer.curr_balance
	%pre_payment= cust.customer.pre_payment
	%pre_trash_payment= cust.customer.pre_trash_payment