%customer
	%id= cust.id
	%number= cust.customer.accnumb_ka
	%balance= cust.customer.balance
	%balance_trash= cust.trash_customer ? cust.trash_customer.curr_balance : 0
	- if cust.customer.pre_payments.any?
		%pre-payments
			- cust.customer.pre_payments.each do |pay|
				%payment
					%paydate= pay.paydate.strftime('%Y-%m-%d')
					%amount= number_format pay.amount
					%docnumber= pay.billnumber_ka
	- if cust.customer.pre_trash_payments.any?
		%pre-trash-payments
			- cust.customer.pre_trash_payments.each do |pay|
				%payment
					%paydate= pay.paydate.strftime('%Y-%m-%d')
					%amount= number_format pay.amount
					%docnumber= pay.billnumber_ka