= links_to(Telasi::BANK_CUST_PATH)
%h1= @title
.page_actions
	#{link_to 'აბონენტის დამატება', bank_find_customer_url}
	| #{link_to 'XML ფორმატი', bank_cust_home_url(:format => :xml, :page => params[:page], :per_page => params[:per_page])}
%table.common
	%tr
		%th{:width => 150} ნომერი
		//%th{:width => 250} დასახელება
		%th{:width => 100} ვალი, დენი
		%th{:width => 100} ვალი, დასუფ
		%th{:width => 100} ვალი, წყალი
		%th{:width => 100}
	- @customers.each do |cust|
		%tr
			%td= cust.customer.accnumb_ka
			//%td= cust.customer.custname_ka
			%td.number= number_format(cust.balance)
			%td.number= number_format(cust.balance_trash)
			%td.number= number_format(cust.balance_water)
			%td.item_actions
				= link_to 'წაშლა', bank_remove_customer_url(:id=>cust.id), :class=> :delete, :method => :delete, :confirm => 'ნამდვილად გინდათ აბონენტის წაშლა?'
.digg_pagination
	= will_paginate @customers, :previous_label => '&larr; წინა', :next_label => 'შემდეგი &rarr;'