= form_for(user, :url => url) do |f|
	= form_errors(user)
	.field
		.label= f.label :email, 'ელ. ფოსტა'
		.value= f.text_field :email
	.field
		.label= f.label :first_name, 'სახელი'
		.value= f.text_field :first_name
	.field
		.label= f.label :last_name, 'გვარი'
		.value= f.text_field :last_name
	.field
		.label= f.label :mobile, 'მობილური'
		.value= f.text_field :mobile
	.field
		.label= f.label :password, 'პაროლი'
		.value= f.password_field :password
	.field
		.value
			= f.check_box :is_sysadmin
			= f.label :is_sysadmin, 'სისადმინია?'
			= f.check_box :is_internal
			= f.label :is_internal, 'მუშაობს თელასში?'
	.actions
		= f.submit 'შენახვა'