= links_to(Telasi::SYS_BANKS_PATH)

%h1= @title

.page_actions
	#{link_to '&larr; სიაში დაბრუნება'.html_safe, sys_banks_url}
	| #{link_to 'შეცვლა', sys_edit_bank_url(@bank)}
	| #{link_to 'წაშლა', sys_destroy_bank_url(@bank), :method => :delete, :confirm => 'ნამდვილად გინდათ წაშლა?', :class => :delete}

%table.common
	%tr
		%th{:width => 200} დასახელება
		%td{:width => 300}= @bank.name
	%tr
		%th ბანკის კოდი (MFO)
		%td= @bank.mfo

= timespamps(@bank)

%h2 მომხმარებლები
%p მომხმარებლები, რომლებსაც შეუძლიათ შემდეგ ბანკთან მუშაობა:
.page_actions
	#{link_to 'მომხმარებლის დამატება', sys_add_bankuser_url(@bank)}
%table.common
	%tr
		%th{:width => 150} ელ.ფოსტა
		%th{:width => 200} სახელი
		%th{:width => 150}
	- @bank.users.each do |u|
		%tr
			%td= link_to u.email, sys_user_url(u)
			%td= u.full_name
			%td.item_actions= link_to 'წაშლა', sys_remove_bankuser_url(:bank_id => @bank.id, :user_id => u.id), :method => :delete, :class => :delete, :confirm => 'ნამდვილად გინდათ წაშალოთ მომხმარებელი?'