%h1= @title

.page_actions
	= link_to 'ახალი ბანკი', sys_new_bank_url

%table.common
	%tr
		%th{:width => 250} დასახელება
		%th{:width => 150} ბანკის კოდი (MFO)
		%th{:width => 150}
	- @banks.each do |bank|
		%tr
			%td= bank.name
			%td= bank.mfo
			%td.item_actions
				#{link_to 'შეცვლა', sys_edit_bank_url(bank)}
				#{link_to 'წაშლა', sys_destroy_bank_url(bank), :method => :delete, :confirm => 'ნამდვილად გინდათ ამ ბანკის წაშლა?', :class => :delete}